{% comment %}
For 2-day all-day events, the end date needs to be a day later.
from here: https://stackoverflow.com/a/37659516/1113276
{% endcomment %}

{% assign final_day = page.enddate | date: '%s' | plus:86400 | date: '%F' | replace: "-", "" %}

<a href="https://calendar.google.com/calendar/u/0/r/eventedit?text=Data+Carpentry+Workshop:+Intro+to+Geospatial+Raster+and+Vector+Data&dates=20240701T150000/20240701T170000&recur=RRULE:FREQ%3DWEEKLY;UNTIL%3D20240819&ctz=America/Los_Angeles&trp=false&sprop&sprop=name:&sf=true&output=xml&location=https://ucsb.zoom.us/j/87359691572?pwd=c1I1K2JneUwycCtZTlFzZHBhQS8wZz09&details=Data+Carpentry+Workshop+at+University+of+California,+Santa+Barbara+-+Environmental+Markets+Lab++Workshop+Content:+https://emlab-ucsb.github.io/2024-07-01-ucsb-intro-geospatial/"> Add classes to your Google Calendar.</a>
<a href="https://calendar.google.com/calendar/u/0/r/eventedit?text=Data+Carpentry+Workshop:+Office+Hours+and+SharkyR+Talks&dates=20240711T160000/20240711T170000&recur=RRULE:FREQ%3DWEEKLY;UNTIL%3D20240822&ctz=America/Los_Angeles&trp=false&sprop&sprop=name:&sf=true&output=xml&location=https://ucsb.zoom.us/j/87359691572?pwd=c1I1K2JneUwycCtZTlFzZHBhQS8wZz09&details=Data+Carpentry+Workshop+at+University+of+California,+Santa+Barbara+-+Environmental+Markets+Lab++Workshop+Content:+https://emlab-ucsb.github.io/2024-07-01-ucsb-intro-geospatial/"> Add office hours/SharkyR lectures to your Google Calendar.</a>
